.admin-list:hover .MuiListItemIcon-root,
.admin-list:hover .MuiListItemText-root,
.admin-list:focus .MuiListItemIcon-root,
.admin-list:focus .MuiListItemText-root,
.admin-list:active .MuiListItemIcon-root,
.admin-list:active .MuiListItemText-root {
    color: #FFFFFF !important;
}

.admin-list:hover,
.admin-list:focus,
.admin-list:active {
    background-color: #FBB03B !important;
    color: #FFFFFF !important;
}

.settings-list:hover .MuiListItemIcon-root,
.settings-list:hover .MuiListItemText-root,
.settings-list:focus .MuiListItemIcon-root,
.settings-list:focus .MuiListItemText-root,
.settings-list:active .MuiListItemIcon-root,
.settings-list:active .MuiListItemText-root {
    color: #FFFFFF !important;
}

.settings-list:hover,
.settings-list:focus,
.settings-list:active {
    background-color: #FBB03B !important;
    color: #FFFFFF !important;
}

.logout-list:hover .MuiListItemIcon-root,
.logout-list:hover .MuiListItemText-root,
.logout-list:focus .MuiListItemIcon-root,
.logout-list:focus .MuiListItemText-root,
.logout-list:active .MuiListItemIcon-root,
.logout-list:active .MuiListItemText-root {
    color: #FFFFFF !important;
}

.logout-list:hover,
.logout-list:focus,
.logout-list:active {
    background-color: #FBB03B !important;
    color: #FFFFFF !important;
}