.table-header {
    color: #44494D;
    font-weight: 600 !important;
}

.table-row {
    color: #44494D;
}

.emptyRequestImg {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}