@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');

.c-image {
	object-fit: cover;
	height: 100vh;
	width: inherit;
}

.c-btn:focus {
	outline: none !important;
	color: white;
}

.c-btn:hover {
	outline: none !important;
	background-color: #FBB03B !important;
	color: white;
}

.c-btn {
	background-color: transparent !important;
	border: 2px solid #FBB03B !important;
	border-radius: 10px !important;
	padding: 10px !important;
	font-family: "Barlow" !important;
}

.caroulsel {
	height: 100vh;
}

.carouselImg {
	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}


.bannerImg {
	filter: grayscale(100%) !important;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	box-shadow: 0 0 8px 8px white inset;
}

.overlay {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .8) 2rem, rgba(0, 0, 0, 0.4)) !important;
	z-index: 2 !important;
}

.bannerTitle {
	font-family: "Barlow" !important;
	font-weight: 900 !important;
	font-style: normal;
	letter-spacing: 1px !important;
	font-size: 3rem !important;
}

.carousel .control-dots {
	bottom: 1.6rem !important;
}