.filepond-container .filepond--root {
    max-height: 500px !important; 
}
  .filepond-container .filepond--list {
    height: 400px !important; 
    overflow-y: auto; 
  }
/* .filepond-container .filepond--root {
    display: flex !important;
    flex-direction: column !important;
    max-height: 450px !important; 
  }
  
  .filepond-container .filepond--drop-label {
    transform: translate3d(0, 0, 0) !important;
    position: relative !important;
  }
  .filepond-container .filepond--list-scroller {
    max-height: 400px !important;
    overflow-y: scroll;
  }
  .filepond-container .filepond--list {
    height: 400px !important; 
    overflow-y: scroll; 
  }
  .filepond-container .filepond--item {
    padding: 10px !important; 
    box-sizing: border-box;
}
.filepond-container .filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
} */