.project-stats {
    width: 20%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.radio-button {
    color: #44494D;
}

.radio-button .MuiRadio-root.Mui-checked {
    color: #44494D;
}

.category-select-button:focus,
.category-select-button:active,
.category-select-button:hover {
    background-color: #FBB03B !important;
}

.category-select-button:focus .MuiListItemText-root span,
.category-select-button:active .MuiListItemText-root span,
.category-select-button:hover .MuiListItemText-root span {
    color: white !important;
    font-weight: 600;
}