.project-stats {
    width: 20%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.radio-button {
    color: #44494D;
}

.radio-button .MuiRadio-root.Mui-checked {
    color: #44494D;
}