.dotBtn:focus{
    outline: none !important;
	color: #FBB03B;
    border-color: #FBB03B;
}

.dotBtn:hover{
    outline: none !important;
	background-color: #ffffff !important;
	color: #FBB03B !important;
    border-color: #FBB03B
}
.Mui-selected{
    color: #FBB03B !important;
    border:none;
}
.tab .MuiTabs-flexContainer{
    justify-content: center;
}