.register-btn {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s !important;
}

.register-btn:hover {
    background-color: #FBB03B !important;
    color: #FFFFFF;
    font-weight: 700 !important;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s !important;
}

@media (min-width: 1200px) {
    .username {
        display: inline-block !important;
    }
}

@media (min-width: 0px) {
    .username {
        display: none;
    }
}