@import url('https://fonts.googleapis.com/css?family=Poetsen+One&display=swap');

#root {
  width: 100%;
  text-align: center;
}

@media (min-width: 1536px) {
  html{
    font-size: 18px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}