.btnReturn:hover {
    border-color: #44494D;
    color: #44494D !important;
    font-weight: bold;
}

.btnReturn:focus {
    border-color: #44494D;
    color: #44494D !important;
    font-weight: bold;
}

.btnReturn {
    background-color: transparent;
    border-color: #a7a7a7 !important;
    color: #a7a7a7 !important;
    outline: none;
}